<!doctype html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>

  {% if page.description %}
  <meta name="description" content="{{ page.description }}"/>
  {% endif %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta name="robots" content="noindex">

  <link type="text/css" rel="stylesheet" href="/styles/main.css"/>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js"></script>
  <script type="text/javascript" src="http://builds.emberjs.com/tags/v1.8.1/ember.js"></script>
  <script type="text/javascript" src="http://builds.emberjs.com/tags/v1.0.0-beta.11/ember-data.js"></script>
</head>
<body>
{{ content }}
{% include footer.html %}
</body>
</html>
